article{
    width: 60%;
    height: 80%;
    margin: auto;
    margin-bottom: 2rem;
    display: flex;
    margin-top: 1%;
}
#wrapperForMenu{
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: rgba(246,249,255, 0.8);
    position: fixed;
    top: 14%;
    margin-top: 0.1%;
}
#close{
    display: inline-block;
    margin-left: 5%;
    margin-top: 2%;
    border: 1px solid rgb(76, 76, 147);
    border-radius: 30%;
    background-color:rgb(246,249,255);
    padding: 0% 1%;
    font-size: 90%;
    }

#close:hover{
background-color: rgb(250,233,242);
}
.hidden{
    display: none;
}
.cartObject{
    border-radius: 8px;
    box-shadow: 0px 0px 5.2px 0px rgb(195, 211, 240);
    background: rgb(254, 254, 255);
    display: flex;
    padding: 1rem;
    height: 9.5rem;
    margin: 2rem 2rem -1rem 2rem;
    width: 86%;
}
.cartObject img{
    height: 90%;
}
.infoCartleft{
    width: 50%;
    font-size: 100%;
}
.infoCartRight{
    width: 35%;
}

.cartItemName{
    width: 100%;
}
.cartBox{
    width: 100%;
    display: flex;
    align-items: center;
    color: #4D5E7C;
}
.cartItemPrice{
    font-weight: bold;
}
.cartItemAmount{
    font-weight: lighter;
    margin-top: .5rem ;
}

.buttonsCart{
    width: 6rem;
    height: 6rem;
    align-self: center;
    padding: .7rem 0rem;
    color: #4D5E7C;
}
.btnIncrease,
.btnDecrease,
.btnRemove,
.btnClose{
    border: none;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 5.2px 0px rgb(195, 211, 240);
    background-color: rgb(254, 254, 255);
    color: #4D5E7C;
}
.btnCount{
    display: flex;
    justify-content: center;
}
.btnAmount{
    border: none;
    background-color: transparent;
    color: #4D5E7C;
    width: 2rem;
}
.btnDecrease{
    width: 1.7rem;
    height: 1.7rem;
    font-weight: bolder;
}
.btnIncrease{
    width: 1.7rem;
    height: 1.7rem;
    justify-content: center;
    align-content: center;
    font-weight: bolder;
}
.btnRemove{
    margin-top: 1rem;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 1.85rem;
}
.btnIncrease:hover,
.btnDecrease:hover,
.btnClose:hover,
.btnRemove:hover{
    background-color: #4D5E7C;
    color: #fff;
}

.totalDiv{
    color: #4D5E7C;
    font-weight: bold;
    background-color: #e6eefb;
    width: 8rem;
    margin: 1rem 0rem 1rem 2rem;
}
.cashDiv{
    color: #4D5E7C;
    font-weight: lighter;
    margin-left: 2rem;
    font-style: italic;
    margin-bottom: 2rem;
}
.bottomPart{
    display: flex;
    flex-direction: column;
}

.rightSideCart{
    width: 50%;
    border: none;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    box-shadow: 0px 0px 8px 5px rgb(195, 211, 240);
    background-color: rgb(254, 254, 255);
    height: 30rem;
    display: flex;
    justify-content: center;
}
.leftSideCart{
    width: 50%;
    border: none;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    box-shadow: 0px 0px 8px 5px rgb(195, 211, 240);
    background-color: rgb(254, 254, 255);
    height: 100%;
    overflow: scroll;
}
.leftInnerScroll{
    height: 65%;
    overflow: scroll;
}
.innerRighrSide{
    text-align: center;
    margin: 4rem auto;
}



@media screen and (min-width:1024px) and (max-width: 2700px){
    article{
        width: 80%;
        top: 10%;
        left: 10%;
    }

    
}

@media (min-width: 768px) and (max-width: 1024px){
    article{
        width: 90%;
        top: 15%;
        left: 5%;

    }
    .leftInnerScroll{
        height: 50vh;
        overflow: scroll;
    }
    #wrapperForMenu{
        top: 10%;
       
    }
    .cartObject img{
        height: 90%;
    }
    .infoCartleft{
        font-size: 90%;
    }
    .infoCartRight{
        width: 35%;
    }
    #wrapperForMenu{
        top: 10%;;
        margin-top: 0.1%;
        padding-bottom: 2%;
    
    }
    
}

@media (min-width: 460px) and  (max-width: 768px){
    article{
        width: 90%;
        height: auto;
        flex-direction: column;
        top: 10%;
        left: 0%;
        margin: 2rem;
        

    }
    .leftInnerScroll{
        height: 20vh;
        overflow: scroll;
    }
  
    .cartBox{
        width: 100%;
        display: flex;
        align-items: center;
    }
    .leftSideCart{
        width: 80%;
        height: auto;
        border-bottom-left-radius: .0rem;
        border-top-right-radius: .8rem;
        overflow: scroll;
        margin: auto;
    }
    
    .infoCartleft{
        font-size: 100%;
    }
  

    #wrapperForMenu{
        top: 0vh;
        margin-top: 0.1%;
    
    }
    .infoCartRight{
        width: 30%;
    }

}

@media (max-width: 460px){
    article{
        width: 90%;
        height: auto;
        flex-direction: column;
        margin-top: 2rem;
    }
    .infoCartRight{
        width: 30%;
    }
    .cartBox{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .cartObject{ 
        padding-bottom: 0.5rem;
        width: 100%;
        height: 70%;
    }
    .leftSideCart{
        width: 100%;
        height: auto;
        border-bottom-left-radius: .0rem;
        border-top-right-radius: .8rem;
        overflow: scroll;
        margin: auto;

    }
    #wrapperForMenu{
        top: 0vh;
        margin-top: 0.1%;
    
    }
    
    .infoCartleft{
        font-size: 100%;
    }
    .leftInnerScroll{
        height: 25vh;
        overflow: scroll;
        z-index: 5;

    }


}




  