/* .image{
    height: 7rem;
    width: 5rem;
} удалила из Кард.ссс */

.productsSection,
section{
    height: auto;
    /* background-color: #FAE9F2; */
    display: flex;
    justify-content: center;
}


/* .titleMenu{
    font-size: 2rem;
    font-weight: bold;
    color: #DEC4D1;
    padding: 8rem 0rem;
    text-align: center;
} */
.card {
  width: 14rem;
  height: 17.5rem;
    background-color: transparent;
    border: none;
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  color: #56474F;
}

.card:hover{
  box-shadow: 0px 0px 20px 20px #DEC4D1;
  /* cursor: pointer; */
}
.name,
.localname,
.price{
  font-size: 90%;
  margin-top: 8%;
}
.price,
.name{
  font-weight: 700;
}

.product,
section,
#linkToProducts{
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  }
#linkToProducts{
  padding: 3rem;
}


.card img{
    display: flex;
    align-items: flex-end;
    width: 7.5rem;
    height: 10rem;
    background-color: transparent;
    margin-bottom: .5rem;
}

.bottom {
    display: flex;
    align-items: flex-end;
    height: 48vh; /**/
    justify-content: center;
}

.buttonAddProducts{
    padding: 18px 10px;
    border: unset;
    border-radius: 15px;
    color: #ae7c97;
    z-index: 1;
    background: #ffffff;
    position: relative;
    font-weight: 1000;
    font-size: 1.3rem;
    transition: all 250ms;
    overflow: hidden;
    display: flex;
    width: 4rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-top: -2.5rem;
    cursor: pointer;
   }
   .buttonAddProducts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 1rem;
    background-color: #b78aa2;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   .buttonAddProducts:hover {
    color: #ffffff;
   }
   .buttonAddProducts:hover::before {
    width: 100%;
   }
span{
  color: #fff;
}
