.image-slider {
    width: 20%;
    margin: auto;
    /* margin-right: 30rem; */
    border-radius: 0.45rem;
    background-color: #DFE7F6;
    /* margin-top: 10rem; */
    height: 51vh;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 8px 5px rgb(195, 211, 240);

  }
  .image-slider .slick-dots {
    color: #DFE7F6;
  }
  .image-slider img {
    max-width: 20vw;
    max-height: 41vh;
    margin: auto;
    margin-top: 4vh;
  }

  .slick-dots {
    bottom: -19px;
  }
  .slick-prev {
    left: .4rem;

}
.slick-next {
  right: 0.4rem;
}
  .reviewDivs{
    height: 68vh;
    background-color: #FAE9F2; 
    /* height: 20rem;     */
    padding: 4rem 0rem;
    margin-bottom: 5rem;
  }


input, button, select, optgroup, textarea {
  margin: auto;
}
