/* Слайдер */

.image-slider {
    width: 20%;
    margin: auto;
    border-radius: 0.45rem;
    background-color: #DFE7F6;
    border-radius: 0.45rem;
    box-shadow: 0px 0px 8px 5px rgb(195, 211, 240);
    padding-bottom: 2rem;
  }
  .image-slider img {
    max-width: 80%;
    margin: auto;
    margin-top: 1.9rem;
  }
  .slick-dots {
    bottom: -19px;
  }
  .slick-prev {
    left: .4rem;
}
.slick-next {
  right: 0.4rem;
}
  .reviewDivs{
    background-color: #FAE9F2; 
    padding: 2rem 0rem;
  }

/* Location */

#location{
    background-color: #DFE7F6;
    padding: 2.5rem 5rem;
}
.locMain{
    display: flex;
    justify-content: center;
}
#location > p:nth-child(1){
    background-color: #fff;
    display: flex;
    width: 15rem;
    margin: auto;
    margin-bottom: 5%;
    height: /* 2.2rem; */ 2vw;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    letter-spacing: .5rem;
    border-radius: 0.45rem;
}
.imagggge{
    width: 40rem;
    height: 25rem;
    background-color: white;
    margin: 0rem 5rem 5rem 0rem;
    border-radius: .8rem;
    box-shadow: 0px 0px 8px 5px rgb(195, 211, 240);
    position: relative;
}
.imagggge img{
    width: 40rem;
    height: 25rem;
    border-radius: .8rem;
    box-shadow: 0px 0px 8px 5px rgb(195, 211, 240);
    position: relative;
}
.locDiv{
    background-color: white;
    width: 16rem;
    height: 25rem;
    padding: 4.8vh 2.5vw 1.6vh 2.5vw;
    text-align: center;
    border-radius: .8rem;
    box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
    background-color: rgb(254, 254, 255);
}
.locDiv > p:nth-child(1){
    font-size: 1.8vh;
}
.locDiv > p:nth-child(2),
.locDiv > p:nth-child(3){
    font-weight: bold;
}
.locDiv > p:nth-child(5){
    font-size: 3vh;
}
.fa-location-dot {
  position: absolute;
  top: 17rem;
  left: 15rem;
  z-index: 1;
  height: 6rem;
  }

/* Timer */

.timer{
  width: 15rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0px 0px 8px 5px rgb(195, 211, 240);
  background-color: rgb(255, 254, 255);
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: 3;
}
.timerH1{
  font-size: 1.5rem;
  margin: 0;
} 
.timerH1time{
  font-size: 1.5rem;
  margin: .5rem 0rem;
  font-weight: bold;
}
h2{
  font-size: 0.9rem;
}
.hidden{
  display: none;
}


@media screen and (min-width:1024px) and (max-width: 1240px){

.image-slider{
  width: 25%;
}
#location img{
  width: 100%;
  height: 100%;
}
.imagggge{
  width: 20rem;
  height: 15rem;
  margin-right: 1.5rem;
}
.locDiv{
  height: 15rem;
  width: 25rem;
  font-size: 70%;
}
.locDiv > p:nth-child(1){
  font-size: 90%;
}
.locDiv > p:nth-child(5){
  font-size: 100%;
}
.fa-location-dot{
  top: 5rem;
  left: 5rem;
}


}

@media (min-width: 768px) and (max-width: 1024px){
.image-slider{
  width: 25%;
}
#location img{
  width: 100%;
  height: 100%;
}
.imagggge{
  width: 20rem;
  height: 15rem;
  margin-right: 1.5rem;
}
.locDiv{
  height: 15rem;
  width: 25rem;
  font-size: 70%;
}
.locDiv > p:nth-child(1){
  font-size: 90%;
}
.locDiv > p:nth-child(5){
  font-size: 100%;
}
.fa-location-dot{
  top: 5rem;
  left: 5rem;
}}

@media (max-width: 768px) {
  .image-slider{
    width: 25%;
  }
  .locDiv > p:nth-child(1){
    display: none;
  }
  #location{
    padding: 2rem 1rem;
  }
  #location img{
    width: 100%;
    height: 100%;
  }
  .imagggge{
    width: 75%;
    height: 80%;
  }
  .locDiv{
    height: 90%;
    width: 75%;
    font-size: 70%;
  }
  .locDiv > p:nth-child(1){
    font-size: 90%;
  }
  .locDiv > p:nth-child(5){
    font-size: 100%;
  }
  .fa-location-dot{
    top: 10rem;
    left: 5rem;
    height: 15%;
  }
}


/* @media screen and (min-width:1024px) and (max-width: 1240px){
}

@media (min-width: 768px) and (max-width: 1024px){
}

@media (max-width: 768px){
} */