.footer{
    background-color: #FAE9F2;
    height: 5.5rem;
    width: 100%;

}

.wrapperFooter{
    width: 40rem;
    padding-top: 1rem;
}

.brandicons{
    width: 8rem;
    /* margin-top: 2rem; */
    margin-bottom: .5rem;
}

.fa-whatsapp {
    height: 1.5rem;
}
.fa-instagram {
    height: 1.5rem;
}
.footerText{
    text-align: center;
}
  