body{
    color: #56474F ;
  }

  .loginBtn{
    width: 10rem;
    height: 2rem;
  }
  
  header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FAE9F2;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    height: 7rem;
  }
  .logo img{
    height: 7rem;
    color: #56474F;
    cursor: pointer;
  }
  
  .headerContentWrapper{
    align-items: center;
    height: 4rem;
    margin-top: 1.5rem;
  }
  
  ul{
    display: flex;
    font-size: 1.4rem;
    outline: none;
    margin-top: 0;
  }
  li{
    list-style: none;
    cursor:  pointer;
    width: 9rem;
    letter-spacing: .3rem;
  }
  li:hover{
    color: #ffffff;
    font-size: larger;
  }
/* 
  .headerContentWrapper > ul:nth-child(2) > a:nth-child(1),
  .headerContentWrapper > ul:nth-child(2) > a:nth-child(2),
  .headerContentWrapper > ul:nth-child(2) > a:nth-child(3){
    color: #56474F;
    text-decoration: none;
  } */
  .buttonAddHeader{
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #56474F;
    z-index: 1;
    background: #ffffff;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    display: flex;
    width: 4rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 5rem;
   }


   .buttonAddHeader::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 1rem;
    background-color: #56474F;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .buttonAddHeader:hover{
    color: #ffffff;
   }
   
   .buttonAddHeader:hover::before{
    width: 100%;
   }
/*   
  .headerRight{
    display: flex;
    width: 20rem;
    padding-top: 1.6rem;
    margin-left: 10rem;
  } */
  
  .countCartHead{
    background-color: #c2d0e8;
      border-radius: 79%;
      padding: 0rem 0.4rem 0rem 0.4rem;
      text-align: center;
      margin-left: .2rem;
      margin-bottom: 1rem;
      font-size: .9rem;
      position: absolute;
      right: .2rem;
    }

/* @media screen and (min-width:1024px) and (max-width: 1240px){
  header{
    background-color: #DFE7F6;
  }
  .logo img{
    height: 5.5rem;
  }
  li{
    margin: 0; 
  }
  }
  .buttonAddHeader{
    margin-bottom: 2rem;
  }

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  ul{
    display: flex;
    flex-wrap: wrap;
    }
  li{
    font-size: 1rem;
    margin-right: 0rem;
  }
  a{
    height: 2rem;
  }
  .logo img{
    height: 2rem;
  }
}
@media (min-device-width: 320px) and (max-device-width: 480px){

} */

.logoNewHead{
  height: 6rem;
  margin-right: 5rem;
}
.nav-link{
  width: 8rem;
  font-size: 1.4rem;
  letter-spacing: .3rem;

}