body{
  color: #56474F ;
}

/* .warning{
  height: 40px;
  width: 250px;
  background-color: coral;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 10%;
} */


/* BODY */


.welcomeDiv{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 45vw; /* 50%; */
  /* width: 50%; */
  height: /* 20rem */ 41vh;
  background-color: #DFE7F6;
  border-radius: 0.45rem;
  margin-top: 14vh;
  margin-left: 41.5vw;
  /* display: grid;
  grid-area: 1 / 6 ; */
  border-radius: .8rem;
  box-shadow: 0px 0px 10px 10px #DFE7F6;
  background-color: #f2f5fb;
  
}
.welcome{
  text-align: center;
  background-color: white;
  /* margin-top: 4vh; */
  display: flex;
  justify-content: center;
  width: 35vw;
  font-size: 4vh;
  border-radius: 0.45rem;
  height: 9vh;
}
.welcomeText{
  display: flex;
  justify-content: right;
  /* padding: 2.4rem 5rem; */
  padding: 2vw 5vw;
  font-size: 1.2vw;
  text-align: center;
}

.backImg{
  margin-top: 3rem;
  width: 44vw;
  border-radius: 0.45rem;
}

.wrapperFirst{
  width: 100%;
  height: 150rem;
  grid-template-columns: repeat(12, minmax(100px, 1fr));
  grid-template-rows: repeat(12, minmax(100px, 1fr));
  margin-bottom: 70vh;
}



.menuDiv{
  width: 29vw;
  height: 10vh;
  background-color: #ffffff;
  border-radius: 0.45rem;
  display: grid;
  grid-area: 3/7;
  margin-right: 15vw;
  margin-top: 5vw; /**/
}


.menufirst button{
  /* margin-right: 57vw;
  margin-top: 5vh; */
}

.menusecond{
  font-size: 3.2vh;
  display: flex;
  justify-content: center;
  padding: 0vh 1.6vw;
  text-align: center;
  margin-top: 1.6vh;

}


.productCartFirst{
  
  background-color: #FAE9F2;
  width: 29.5vw;
  height: 36rem;
  grid-area: 8/10/12/2;
  margin-top: 29vh;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
}

.SProductCardSecond{
  width: 29.5vw;
  height: 36rem;
  background-color: #FAE9F2;
  grid-area: 9/7/5/9;
  margin-top: 20vh;
  margin-left: 10vw;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
}

.SProductCardThird{
  width: 27vw;
  height: 33rem;
  background-color: #FAE9F2;
  /* margin-bottom: 30vh; */
  grid-area: 9/7;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
}

.SProductCardForth{
  width: 27vw;
  height: 33rem;
  background-color: #FAE9F2;
  /* margin-top: 10vh; */
  margin-left: 8vw;
  grid-area: 5/2;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
}

.productTextFirst > p:nth-child(1),
.productTextSecond > p:nth-child(1),
.productTextThird > p:nth-child(1),
.productTextForth > p:nth-child(1) {
  font-size: 2.5vh;
  letter-spacing: .3rem;
}
.productTextFirst > p:nth-child(3),
.productTextSecond > p:nth-child(3),
.productTextThird > p:nth-child(3),
.productTextForth > p:nth-child(3) {
  font-weight: bold;
  font-size: 2.4vh;

}
.productTextFirst > p:nth-child(2),
.productTextSecond > p:nth-child(2),
.productTextThird > p:nth-child(2),
.productTextForth > p:nth-child(2) {
  font-weight: bold;
  font-style: italic;
  font-size: 2.5vh;
  color: #c0b1b9;
}


.reviewsDiv{

  background-color: #DFE7F6; 
  margin-left: 80%;
}








.imageSecond img,
.imageFirst img,
.imageForth img,
.imageThird img{
  width: 90%;
  margin: 5%;
  border-radius: 0.45rem;
}

.productTextFirst,
.productTextSecond,
.productTextThird,
.productTextForth{
  margin: 0.8vh 1.684vw;
}

/* .warning{
  width: 20rem;
  height: 7rem;
  background-color: #c0b1b9;
  color: #56474F;
  position: relative;
  top: 200rem;
  right: 20rem;
} */

/* @media(max-width: 1200px) {
  .wrapperFirst{
    display: flex;
    flex-wrap: wrap;
    }
  .backImg{
    width: 15rem;
    margin-top: 0rem;
  }
  .logo img{
    height: 2rem;
  }
} */

/* @media screen and (min-width: 415px) and (max-width: 700px){

  .backImg{
    width: 15rem;
    margin-top: 1rem;
  }
  .wrapperFirst{
    width: 50rem;
    background-color: aqua;
  }
  .welcomeDiv{
    width: 20rem;
    margin-left: -174%;
    height: 15rem;
    display: flex;
  }
  .welcome{
    font-size: .7rem;
    width: 80%;
  }
.menuDiv{
}
.wrapperFirst > a:nth-child(4) {
  margin-top: 36em;
  margin-right: 2vw;
}
} */




/* Inline #1 | http://localhost:5173/#linkToProducts */


/* Inline #3 | http://localhost:5173/#linkToProducts */

/* @media screen and (min-width: 415px) and (max-width: 700px) {
  .menuDiv {
    width: 15rem;
    margin-left: -37rem;
  }
  .menufirst {
    width: 20%;
    height: 30%;
  }
} */

