body{
  color: #56474F ;
}

/* BODY */


/* .welcomeDiv{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 45vw;  */
  /* width: 50%; */
  /* height: 20rem ; */
  /* background-color: #DFE7F6;
  border-radius: 0.45rem;
  margin-top: 14vh;
  margin-left: 41.5vw; */
  /* display: grid;
  grid-area: 1 / 6 ; */
  /* border-radius: .8rem;
  box-shadow: 0px 0px 10px 10px #DFE7F6;
  background-color: #f2f5fb;
  
}
.welcome{
  text-align: center;
  background-color: white; */
  /* margin-top: 4vh; */
  /* display: flex;
  justify-content: center;
  width: 35vw;
  font-size: 4vh;
  border-radius: 0.45rem;
  height: 9vh;
}
.welcomeText{
  display: flex;
  justify-content: right; */
  /* padding: 2.4rem 5rem; */
  /* padding: 2vw 5vw;
  font-size: 1.2vw;
  text-align: center;
}


.wrapperFirst{
  width: 100%;
  height: 150rem;
  grid-template-columns: repeat(12, minmax(100px, 1fr));
  grid-template-rows: repeat(12, minmax(100px, 1fr));
}



.menuDiv{
  width: 29vw;
  height: 7vw;
  background-color: #ffffff;
  border-radius: 0.45rem;
  display: grid;
  grid-area: 3/7;
  margin-right: 15vw;
  margin-top: 5vw; /**/




  /* margin-right: 57vw;
  margin-top: 5vh; */


/* .menusecond{
  font-size: 3.2vh;
  display: flex;
  justify-content: center;
  padding: 0vh 1.6vw;
  text-align: center;
  margin-top: 1.6vh;

}


.productCartFirst{
  
  background-color: #FAE9F2;
  width: 29.5vw;
  height: 37.5rem;
  grid-area: 8/10/12/2;
  margin-top: 29vh;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
}

.SProductCardSecond{
  width: 29.5vw;
  height: 37.5rem;
  background-color: #FAE9F2;
  grid-area: 9/7/5/9;
  margin-top: 20vh;
  margin-left: 10vw;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
}

.SProductCardThird{
  width: 27vw;
  height: 36rem;
  background-color: #FAE9F2; */
  /* margin-bottom: 30vh; */
  /* grid-area: 9/7;
  margin-top: 5rem;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
} */

/* .SProductCardForth{
  width: 27vw;
  height: 35rem;
  background-color: #FAE9F2; */
  /* margin-top: 10vh; */
  /* margin-left: 8vw;
  grid-area: 5/2;
  margin-top: 4rem;
  border-radius: 0.45rem;
  box-shadow: 0px 0px 8px 5px rgb(239, 218, 231);
} */

/* .productTextFirst > p:nth-child(1),
.productTextSecond > p:nth-child(1),
.productTextThird > p:nth-child(1),
.productTextForth > p:nth-child(1) {
  font-size: 2.5vh;
  letter-spacing: .3rem;
}
.productTextFirst > p:nth-child(3),
.productTextSecond > p:nth-child(3),
.productTextThird > p:nth-child(3),
.productTextForth > p:nth-child(3) {
  font-weight: bold;
  font-size: 2.4vh;

}
.productTextFirst > p:nth-child(2),
.productTextSecond > p:nth-child(2),
.productTextThird > p:nth-child(2),
.productTextForth > p:nth-child(2) {
  font-weight: bold;
  font-style: italic;
  font-size: 2.5vh;
  color: #c0b1b9;
}


.imageSecond img,
.imageFirst img,
.imageForth img,
.imageThird img{
  width: 90%;
  margin: 5%;
  border-radius: 0.45rem;
}

.productTextFirst,
.productTextSecond,
.productTextThird,
.productTextForth{
  margin: 0.8vh 1.684vw;
} */
