.formsBackEnd{
    background-color: #FAE9F2;
    color: #56474F;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin-bottom: 1.5rem;
    margin-left: 5rem;
}
h1{
    margin-top: 2rem;
    margin-left: 3rem;
}
input{
    height: 1.5rem;
    border: none;
    border-radius: 0.45rem;
    margin-top: .7rem;
    background-color: white;
}
body > p:nth-child(8) {
    margin-left: 5rem;
}
body > form:nth-child(2) > input:nth-child(12) {
    height: 2rem;
}

body > form:nth-child(5) > select:nth-child(2),
body > form:nth-child(5) > button:nth-child(3),
body > form:nth-child(2) > input:nth-child(12){
    padding: 0.5rem;
    margin-right: 0.5rem;
    color: #4D5E7C;
    background-color: white;
    border: none;
    border-radius: 0.45rem;

}
body > form:nth-child(5) > select:nth-child(2):hover,
body > form:nth-child(5) > button:nth-child(3):hover,
body > form:nth-child(2) > input:nth-child(12):hover{
    background-color: #DFE7F6;
}
body > p:nth-child(10){
    background-color: white;
    width: 9rem;
    padding: 1rem;
    text-align: center;
    border: none;
    border-radius: 0.45rem;
    margin-left: 3rem;
}
a{
    text-decoration: none;
    color: #56474F;
}
a:hover{
    font-size: larger;
    color: #baa5b0;
}